@use "../../styles.scss" as global;

body {
    background-repeat: no-repeat;
    /* Não repetir a imagem */
    background-position: -1150px 1350px;
    /* Posiciona no canto inferior esquerdo */
    background-size: 2500px;
    /* Mantém o tamanho original da imagem */
}

@font-face {
    font-family: Sansita One;
    src: url(../../fonte/SansitaOne.ttf);
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 30px;
    font-family: "Caveat Brush", cursive;
    font-weight: bold;
}

.recipes {
    display: grid;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

.recipe-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.baixo {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

// Botão de adicionar
div.adicionar-receita {
    position: fixed;
    bottom: 32px;
    right: 16px;

    &>a {
        text-decoration: none;
        background-color: global.$cor-botao-principal;
        color: white;
        padding: 16px;
        border-radius: 32px;

        &:hover {
            background-color: global.$cor-botao-principal-hover;
        }
    }
}

#imgLinks {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.linkContainer {
    position: relative;
    margin: 0 30px;
    text-align: center;
    font-family: "Caveat Brush", cursive;
    font-size: 30px;
}

.linkImage {
    opacity: 0.8;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
}

.linkImage:hover {
    filter: grayscale(50%);
}

#logo {
    position: static;
    margin: 0 auto;
    /* Centraliza a logo horizontalmente */
    padding: 16px;
    text-align: center;
}

#logo img {
    z-index: 0;
    /* O logo fica abaixo das imagens */
    width: 100%;
    max-width: 280px;
}

.copyright {
    color: #999999;
    text-align: center !important;
    font-size: 80%;
    font-weight: 400;
    padding: 16px;
}

@media (min-width: 640px) {
    #imgLinks {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .recipes {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media (min-width: 1024px) {
    .recipes {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    #imgLinks {
        justify-content: space-around;
    }

    #imgLinks,
    .recipes {
        margin: auto;
        max-width: 1280px;
    }

    #logo {
        margin-top: 96px;
    }
}