
div.painel > img {
    border-radius: 16px 0 0 16px;
    height: 470px;
    object-fit: cover;
}

div.linha {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

div.linha > input {
    width: 50%;
}