body {
  background-repeat: no-repeat; /* Não repetir a imagem */
  background-position: -1150px 1350px;  /* Posiciona no canto inferior esquerdo */
  background-size: 2500px; /* Mantém o tamanho original da imagem */
}

@font-face {
  font-family: Sansita One;
  src: url(fonte/SansitaOne.ttf);
}


h2 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
  font-size: 30px;
  font-family: "Caveat Brush", cursive;
  font-weight: bold;
}

.recipes {
  display: grid;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.recipe-grid {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.baixo {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.recipe-card {
  background-color: #c8c8c8;
  border-radius: 32px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  width: 270px;
  height: 290px;
  flex-direction: column;
  justify-content: space-between;

}

.recipe-card img {
  width: 100%; /* A imagem ocupa toda a largura do card */
  height: 150px; /* Define uma altura fixa para todas as imagens */
  object-fit: cover; /* Mantém o aspecto da imagem, cortando se necessário */
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.recipe-card p {
  font-size: 25px;
  color: #ffffff;
  font-family: "Caveat Brush", cursive;
  margin-top: 10px;
  margin-bottom: 100px; /* Remove o espaço extra abaixo do texto */
  /* Alinha o texto ao topo do card, logo abaixo da imagem */
}

.recipe-card:hover {
  transform: scale(1.05); /* Aumenta apenas o card */
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px; /* Reduz a margem superior para mover os ícones para cima */
  margin-bottom: 50px;
}

.icons span {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  margin-top: -130px;
}

.icons i {
  margin-right: 3px; /* Espaço entre o ícone e o texto */
  font-size: 15px; /* Tamanho do ícone */
}

.icons span i.fa-heart {
  color: red; /* Ícone de coração vermelho */
}

@media (min-width: 640px) {
  #imgLinks {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .recipes {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media (min-width: 1024px) {
  .recipes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  #imgLinks {
    justify-content: space-around;
  }

  #imgLinks, .recipes {
    margin: auto;
    max-width: 1280px;
  }
}
