
body {
    background-color: #EFEAF7;
    font-family: sans-serif;
    height: 100vh;
    align-content: center;
}

div.painel-login {
    background-color: #FEFEFF;
    display: flex;
    width: 900px;
    margin: auto; 
    border-radius: 16px;
}

div.painel-login > img {
    width: 50%;
    border-radius: 0 16px 16px 0;
}
 
div.form-acesso {
    text-align: center;
    padding: 24px;
}

div.form-acesso, 
div.form-acesso > form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

div.form-acesso > hr {
    width: 100%;
    height: 1px;
    background-color: #452A7540;
    border: none;
}

div.opcao-usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
