#navbar{
  position: fixed;
  right: 30px;
  padding: 10px;
}

.navButton{
  text-decoration: none;
  border: none;
  border-radius: 16px;
  color: black;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  margin: 4px 0;
  cursor: pointer;
  background-color: #fedce0;
}

.navLink{
  text-decoration: none;
  border: none;
  border-radius: 16px;
  color: black;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  margin: 4px 0;
  cursor: pointer;
}

.navLink:hover{
   background-color: #fedce0;
   color: white;
}

.navButton:hover{
    color: white;
}

#imgLinks{
    display: flex;
    justify-content: flex-start; /* Ajusta o alinhamento horizontal */
    padding: 200px; 
}

.linkContainer {
    position: relative; /* Necessário para o posicionamento absoluto do texto */
    margin: 0 10px; /* Espaço entre as imagens */
}

.linkImage{
  opacity: 0.5;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block; /* Remove o espaçamento em linha */
  cursor: pointer;
}

.linkImage:hover{
  filter: grayscale(50%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

form{
  position: fixed;
  padding: 10px;
  left: 300px;
}


.search-btn{

  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ed074c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}


.busca{
  border-radius: 16px;
  border:none;
  padding: 10px 24px;
  display: inline-block;
  margin: 4px 0;
  cursor: pointer;
}
